{% extends "base-template.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
  {{ bokeh_script }}
{% endblock %}

{% block content %}
  {% block main_div %}
    <div class = 'bokeh-box'>
      <div class="bokeh-content">
        <!-- map -->
        <h1>{{ main_title }}</h1>
        <hr>
          {{ main_viz_div }}
        <hr>
        <p>{{ main_caption }}</p>
      </div>
    </div>
  {% endblock %}
  {% block widgets %}
    <div class = 'bokeh-box'>
      {% for w in widget_divs %}
        <div class="bokeh-widget">
            {{ w }}
        </div>
        {{ '<br>' if not loop.last }}
      {% endfor %}
    </div>
  {% endblock %}
{% endblock %}
