body {
  background-color: teal;
  margin: 0;
  color: darkcyan;
  line-height: 1.5;
}

footer {
  /* position: fixed; */
  position: sticky;
  color: antiquewhite;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 100vh;
  text-align: center;
}

.content-width {
  max-width: 90%;
  /* width: calc(100% - 1rem); */
  margin: 0 auto;
}

main {
  margin-bottom: 4rem;
}

.title_box {
  position: relative;
  margin: auto;
  padding: 1rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.title_button {
  background-color: blanchedalmond;
  border: 2px solid black;
  color: black;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 200%;
  font-family: 'PlayfairDisplay';
  box-shadow: 0.5rem 0.5rem black;
  width: 100%;
}

.title_button:hover {
  /* box-shadow: 0rem 0rem black; */
  transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  transform: translateY(-0.1rem) translateX(-0.1rem);
  box-shadow: 0.75rem 0.75rem black;
}

.index_button_box {
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
  padding: 0; 
  color: blanchedalmond #ffebcd bla;
}

.button {
  background-color: blanchedalmond;
  border: 2px solid black;
  color: black;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  /* text-transform: uppercase; */
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 150%;
  font-family: 'PlayfairDisplay';
  box-shadow: 0.5rem 0.5rem black;
}

.button:hover {
  transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  transform: translateY(-0.1rem) translateX(-0.1rem);
  box-shadow: 0.75rem 0.75rem black;
}

.full-page-box {
  position: relative;
  width: fit-content;
  max-width: 800px;
  /* width: fit-content;
  height: fit-content; */
  margin: auto;
  padding: 1rem;
  background-color: blanchedalmond;
  border: 2px solid black;
  color: black;
  /* padding: 1rem 1.5rem 1rem 1.5rem; */
  display: flexbox;
  box-shadow: 0.5rem 0.5rem black;
}

.full-page-content {
  width: 98%;
}

.full-page-content hr {
  /* color: black; */
  border: 0.02rem solid black;
  width: 85%;
  /* width: 1px; */
}

.full-page-content h1 {
  /* letter-spacing: 1px; */
  font-weight: 400;
  font-size: 150%;
  font-family: 'PlayfairDisplay';
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  text-align: center;
}

.full-page-content p {
  /* font-weight: 400; */
  /* font-size: 150%; */
  font-family: 'Georgia';
  text-align: center;
  font-size: 110%;
  font-weight: 400;
}

.full-page-content img {
  width: 50vw;
  border-radius: 50%;
  float: left;
  margin: 5px;
  /* max-width: 50vw; */
  min-width: 150px;
  max-width: 250px;
  height: auto;
}

/* .full-page-content img {
  width: 100%;
  border-radius: 50%;
  float: left;
  margin: 5px;
  max-width: 25%;
  height: auto; 
}
*/

.bk-plot-wrapper table {
  margin: 0 auto;
}

.bokeh-content {
  width: 100%;
}

/* .bokeh-box {
  position: relative;
  width: fit-content;
  background-color: blanchedalmond;
  border: 2px solid black;
  color: black;
  display: flexbox;
  box-shadow: 0.5rem 0.5rem black;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem; 
} */

.bokeh-box {
  position: relative;
  width: 80%;
  /* height: 50%; */
  max-width: 1000px;
  /* width: fit-content;
  height: fit-content; */
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: blanchedalmond;
  border: 2px solid black;
  color: black;
  /* padding: 1rem 1.5rem 1rem 1.5rem; */
  display: flexbox;
  box-shadow: 0.5rem 0.5rem black;
}

.bokeh-box hr {
  /* color: black; */
  border: 0.02rem solid black;
  width: 85%;
  /* width: 1px; */
}

.bokeh-box h1 {
  /* letter-spacing: 1px; */
  font-weight: 400;
  font-size: 150%;
  font-family: 'PlayfairDisplay';
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  text-align: center;
}

.bokeh-box p {
  /* font-weight: 400; */
  /* font-size: 150%; */
  font-family: 'Georgia';
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

/* .bokeh-box div {
  width: 100%;
} */

.bokeh-widget {
  width: 100%;
  margin: auto;
  padding: auto;
  /* padding-top: 1rem; */
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 105%;
}
/* em|ex|ch|ic|rem|vw|vh|vi|vb|vmin|vmax|cm|mm|q|in|pc|pt|px */

/* The slider itself */
.slider {
  /* -webkit-appearance: none;  Override default CSS styles */
  /* appearance: none; */
  width: 100%; /* Full-width */
  /* background: #d3d3d3;  */
  /* color: burlywood; */
  /* bar-color: black; */
  /* background-color: burlywood; */
}

/*
*
* SLIDER
*
* https://github.com/birdsarah/bokeh-miscellany/blob/master/old/slider_example/assets/styles.css
*/  

.plotdiv input,
.plotdiv label {
    display: none;
}


.bk-slider-horizontal {
  width: 705px;
  height: 50px;
  min-width: 200px;
  margin-top: 20px;
  margin-left: 55px;
}

.bk-ui-slider {
    position: relative;
    text-align: left;
}

.bk-ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.bk-ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}
.bk-ui-state-default {
    border: 1px solid #7c7e71;
    background: #eeeeee;
    font-weight: normal;
}

.bk-ui-slider-horizontal {
    height: .8em;
}

.slider .bk-ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -0.6em;
    margin-left: -0.5em;
    width: 1.0em;
    height: 1.8em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 2px;
}

.bk-ui-slider .bk-ui-slider-handle:focus {
    outline: none;
}


/* .slider input[type="slider"] {
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;}  */
/* 
body {background: white);}.slider {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 500px;height: 60px;padding: 30px;padding-left: 40px;background: #fcfcfc;border-radius: 20px;display: flex;align-items: center;box-shadow: 0px 15px 40px #7E6D5766;}.slider label {font-size: 24px;font-weight: 400;font-family: Open Sans;padding-left: 10px;color: black;} */
   